<div>
    <h1 style="margin:0px;" id="anime-title"></h1>
    <div style="display:flex; margin-bottom: 20px;">
        <button style="margin:10px; margin-left: 0px;" id="status"></button>
        <button style="margin:10px" id="demo"></button>
    </div>
    <p><b>Tags: </b><span id="tags"></span></p>
    <p id="anime-desc"></p>
    <br />
    <div>
        <table id="ch-list">
            <tr>
                <th>Chapter Number</th>
                <th>Title</th>
            </tr>
        </table>
    </div>
</div>